In [2]:
import pandas as pd
import numpy as np

In [19]:
indata = pd.read_csv('/home/munawaralam/dev/me/gdpr_obfuscator/data/Students_Grading_Dataset.csv')

In [62]:
indata.loc[indata["First_Name"] == "Omar", "First_Name"] = 1

In [74]:
indata["First_Name"] = np.where(indata["First_Name"] != "Omar", "******", "******")

In [ ]:
print(indata)

In [13]:
#print(indata.columns.get_loc('Last_Nam'))
print(indata.columns[1])

First_Name

In [20]:
def replace_string(x):
    return ("******")

In [ ]:
f_name_col = indata["first_Name"]

In [16]:
new_f_name = f_name_col.apply(replace_string)

In [17]:
indata["First_Name"] = new_f_name

In [18]:
print(indata)

     Student_ID First_Name Last_Name                       Email  Gender  Age  \
0         S1000     ******  Williams     student0@university.com  Female   22
1         S1001     ******     Brown     student1@university.com    Male   18
2         S1002     ******     Jones     student2@university.com    Male   24
3         S1003     ******  Williams     student3@university.com  Female   24
4         S1004     ******     Smith     student4@university.com  Female   23
...         ...        ...       ...                         ...     ...  ...
4995      S5995     ******     Jones  student4995@university.com    Male   19
4996      S5996     ******     Brown  student4996@university.com    Male   19
4997      S5997     ******     Brown  student4997@university.com  Female   24
4998      S5998     ******     Davis  student4998@university.com    Male   23
4999      S5999     ******     Brown  student4999@university.com  Female   21

       Department  Attendance (%)  Participation_Score  Projects_Score  ...  \
0     Engineering        47.50823             5.188714           50.79  ...
1     Engineering        45.62664             4.855225           48.37  ...
2        Business        65.30870             6.865234           69.22  ...
3     Mathematics        53.67973             5.401402           61.52  ...
4              CS        62.02994             5.575885           63.12  ...
...           ...             ...                  ...             ...  ...
4995     Business        67.00000             9.000000           91.00  ...
4996     Business        95.00000             6.000000           65.00  ...
4997           CS        59.00000             8.000000           97.00  ...
4998           CS        51.00000             8.000000           91.00  ...
4999  Engineering        97.00000             9.000000           78.00  ...

      Grade Study_Hours_per_Week  Extracurricular_Activities  \
0         F              14.0225                          No
1         A              12.6600                          No
2         D              17.5750                          No
3         A              15.4075                          No
4         F              16.5325                          No
...     ...                  ...                         ...
4995      D              17.0420                         Yes
4996      C              19.1920                         Yes
4997      A              10.8500                          No
4998      A              11.1680                          No
4999      F              15.5720                         Yes

     Internet_Access_at_Home Parent_Education_Level Family_Income_Level  \
0                        Yes            High School                 Low
1                         No                    NaN                 Low
2                        Yes               Master's                 Low
3                        Yes            High School                 Low
4                        Yes            High School                 Low
...                      ...                    ...                 ...
4995                     Yes            High School                High
4996                     Yes                    NaN                High
4997                      No            High School                 Low
4998                     Yes             Bachelor's                 Low
4999                     Yes                    PhD                High

     Stress_Level (1-10)  Sleep_Hours_per_Night  Sleep_Hours_per_Night_Entier  \
0                      5                    4.7                             5
1                      4                    9.0                             9
2                      6                    6.2                             6
3                      3                    6.7                             7
4                      2                    7.1                             7
...                  ...                    ...                           ...
4995                  10                    8.3                             8
4996                   4                    4.0                             4
4997                   4                    6.3                             6
4998                   1                    8.4                             8
4999                   2                    6.1                             6

        Country
0            US
1         Japan
2         Japan
3        Canada
4         Japan
...         ...
4995         US
4996  Australia
4997      Japan
4998      Japan
4999  Australia

[5000 rows x 21 columns]